/* FitApp.css */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.logo-circle {
  font-family: 'Dancing Script', cursive;
}




/* Plavi-ljubičasti gradijent za pozadinu */
.app {
    background: linear-gradient(to right, #530018, #190000); /* Plavi i ljubičasti gradijent */
    height: 100vh;
  }
  
  /* Navigaciona linija */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2b33; /* Tamna boja za gornju liniju koja se slaže sa gradijentom */
    padding: 10px;
    margin: 0 auto;
    color: white;
    height: 50px;
    
  }
  
  /* Naziv aplikacije */
  .app-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Dugmadi za login i registraciju */
  
  
  /* Stilizacija forme */
  form {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative; /*DODATO*/
  }
  
  h2 {
    text-align: center;
  }
  

  
 
  

  .nav-buttons
  {
    display: flex; /*da budu u istom redu*/
    justify-content: flex-end;
    gap: 12px;
    flex: 1;
  }
  
  .LRButton
  {
    width: 100%;
    background-color:  #530018;
    color: rgb(217, 215, 215);
    padding: 10px;
    border: 1px solid rgb(208, 203, 203);
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    width: 80px;
    font-size: 14px;
    
  }

  .LButton
  {
    background-color: rgb(0, 0, 0,0.3);

    
  }

  .LRButton:hover
  {
    transform: scale(1.1);/*Uveca za 10%*/
    transition: transform 0.2 ease-in-out;
   
  }
  
 

  .logo-container
  {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
  }

  .logo-circle
  {
    width: 50px;
    height: 50px;
    background-color:  #530018;
    border: 2px solid white;
    color:rgb(217, 215, 215);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
  }

  .logo-text
  {
    font-size: 20px;
    font-weight: 600;
    color:rgb(217, 215, 215);
  }

  .container
  {
    display: flex;
    justify-content: center;/*Centriraj horizontalno*/
    align-items: center;/*Centriraj vertikalno*/
    height: 100vh;/*Puni visinu ekrana*/
  }



  .dumbbell-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px; /* Razmak između naslova i ikone */
    vertical-align: middle; /* Poravnanje sa tekstom */
  }
  