/* Profilna slika */
.profile-picture-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 700px;
    margin-right: 700px;
    cursor: pointer;
    background-color: #1e2b33; /* Tamna boja za gornju liniju koja se slaže sa gradijentom */
    
    gap: 10px; /* Razmak između slike i dugmeta */
    border-radius: 100px;
}

/* Profilna slika */
.profile-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #530018;
    background-color: #fff;
}

/* Dugme pored profilne slike */
.submit-button {
    padding: 5px 10px; /* Manje dugme */
    background-color: #1e2b33; /* Tamna boja za gornju liniju koja se slaže sa gradijentom */

    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button:hover {
    background-color: #701c2c;
}

.submit-button svg {
    margin-right: 8px;  /* Razmak između ikone i teksta */
}


.profile-picture-container
{
    display: flex;
  align-items: center;
  justify-content: center;
}


.profile-page-scroll
{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.card-content-profile
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.naslov
{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}