
.overlay
{
    position: fixed; /*Element ostaje na istom mjestu na ekranu bez obzira na skrol*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;/*horizontalno poravnanje*/
    align-items: center;/*vertikalno poravnanje*/
    background-color: rgba(0,0,0,0);
    z-index: 1000;
    overflow: hidden;/*sadrzaj koji izlazi izvan ivica kontenjera*/
    
}



.form-container
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px; /*Prostor izmedju sadrzaja unutar elementa i ivica*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);/*Sjenka oko elementa*/
    width: 100%; /*Postavlja sirinu elementa na sirinu roditeljskog elementa*/
    max-width: 400px;/*Ovaj stil predstavlja maksimalnu sirinu elementa cak iako roditeljski element siri od 400px*/
    height: 680px;
    backdrop-filter: blur(10px); /*Bluruje sve iza ovog kontenjera*/
    margin-top: 20px;
    margin-bottom: 70px;
}

.titleRegister
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.form
{
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    flex-direction: column; /*Raspored flex elemenata na vertikali*/
    gap:15px; /*Raspored izmedju flex elemenata*/
    align-items: center;/*vertikalno poravnanje*/
    margin-top: 0;
    margin-bottom: 20px;
}

.input
{
    background-color: rgba(0, 0, 0, 0.8);

    padding: 10px;/*Prostor izmedju sadrzaja i ivica elementa*/
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 350px;
    color: rgb(202, 202, 202);
}

/*!!!!!!!!!!!!!!!!!!!!*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #221f1f inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  
.input-error
{
    background-color: rgb(0, 0, 0, 0.8);

    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    width: 100%;
    max-width: 350px;
}




.buttonRegister
{
    padding: 10px;
    background-color: #530018; 
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
}

.buttonRegister:hover
{
    background-color: #344651; 
    
}

.ButtonCancelRegister
{
    padding: 10px;
    background-color:rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    max-width: 350px;
    margin-top: 10px;
    font-size: 14px;
    
    
}



.ButtonCancelRegister:hover
{
    background-color:#242323;
}

.error
{
    color:red;
    text-align: center;
}

input.filled {
    background-color: #e6f7ff; /* svetloplava, možeš šta hoćeš */
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #530018;
    font-weight: bold;
  }
  .close-button:hover {
    color: #a00030;
  }



  /*NOVOOO*/
  .password-container {

    /*Prostor izmedju sadrzaja unutar elementa i ivica*/
    border-radius: 10px;
    width: 100%; /*Postavlja sirinu elementa na sirinu roditeljskog elementa*/
    max-width: 400px;/*Ovaj stil predstavlja maksimalnu sirinu elementa cak iako roditeljski element siri od 400*/
  }

  .password-container input{
    background-color: rgba(0, 0, 0, 0.8);

    padding: 10px;/*Prostor izmedju sadrzaja i ivica elementa*/
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 350px;
    color: rgb(202, 202, 202);


  }
  .fa-eye, .fa-eye-slash {
    position: absolute;
    right: 25px; /* Razmak od desne ivice */
    transform: translateY(-150%); /* Centriranje dugmeta vertikalno */
    background: none;
    border: none;
    color: #ccc;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;

  
  }
  
    .fa-eye, .fa-eye-slash:hover {
    color: white;
  }
  

