/* WeightChartInterface.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 43, 51, 0.6); /* tamna providna pozadina */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contentC {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 90%;
  max-width: 700px;
  position: relative;
}

h2 {
  color: #1e2b33;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.close-button-weight {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #530018;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #750026;
}
